<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HgHg Sign up</title>
    <%- include('../includes/_head')%>
    <%- include('../includes/board')%>
    <script type="text/javascript">
        var idcheck = false;
        var pwcheck = false;
        window.onload = function(){
            document.getElementById('userid').onkeyup = function(){
                var ids = new Array();
                <% ids.forEach((id)=>{ -%>
                ids.push("<%= id%>");
                <% })-%>
                var length = <%= ids.length%>;
                var text = document.getElementById('userid').value;
                var tl = text.length;
                var s = document.getElementById('idmsg');
                s.setAttribute('color', 'red');
                var msg;
                if(tl < 8 || tl > 20){
                    idcheck = false;
                    msg = '**8~20자의 아이디를 사용하십시오**';    
                }
                else{
                    msg = '**사용 가능한 아이디입니다.**';
                    idcheck = true;
                    for(var i=0; i < length; i++)
                        if(ids[i] == text){
                            idcheck = false;
                            msg = '**이미 사용중인 아이디입니다**'; break;
                        }
                }
                document.getElementById('idmsg').innerHTML = msg;
            }
            document.getElementById('checkpwd').onkeyup = function(){
                var pwd = document.getElementById('userpwd').value;
                var check = document.getElementById('checkpwd').value;
                var msg;
                if(pwd != check){
                    pwcheck = false;
                    msg = '**비밀번호가 일치하지 않습니다**';
                }
                else{
                    pwcheck = true;
                    msg = '**비밀번호가 일치합니다**';
                }
                document.getElementById('pwdmsg').innerHTML = msg;
            }
            document.getElementById('emaildomain').onchange = function(){
                var self = document.getElementById('emailself');
                var domain = document.getElementById('emaildomain').value;
                if(domain == 'self')
                    self.value = '';
                else
                    self.value = domain;
            }
        }
    </script>
    <style type="text/css">
        .msg{ 
            font-size: 0.8em; 
            color : #909090;
        }
        .email{
            overflow: hidden;
        }
    </style>
</head>

<body>
    <%- include('../navbar/nav_main', {user: user})%>
    <div class="main">
        <form name="sf" action="/" method="post" onsubmit="return checkf();">
            <span><label for="userid">아이디</label></span>
            <span id="idmsg" class="msg"></span>
            <input class="form-control" type="text" name="userid" id="userid" placeholder="아이디">
            <label for="userpwd">비밀번호</label>
            <input type="password" name="userpwd" id="userpwd" placeholder="비밀번호"> <br>
            <span><label for="checkpwd">비밀번호 확인</label></span>
            <span id="pwdmsg" class="msg"></span>
            <input type="password" name="checkpwd" id="checkpwd" placeholder="비밀번호 확인"><br>
            <label for="nickname">닉네임</label>
            <input type="text" name="nickname" id="nickname" placeholder="사용자 닉네임"> <br>
            <label for="email">이메일</label>
            <div class="email">
                <input type="text" name="emailid" id="emailid" placeholder="이메일">
                <span class="email"> @ </span>
                <select name="emaildomain" id="emaildomain">
                    <option value="naver.com">naver.com</option>
                    <option value="daum.net">daum.net</option>
                    <option value="gmail.com">gmail.com</option>
                    <option value="self" selected="selected">직접입력</option>
                </select>
                <span class="email"> </span>
                <input type="text" name="emailself" id="emailself" placeholder="직접입력">
            </div>
            <hr>
            <label for="username">이름</label>
            <input type="text" name="username" id="username" placeholder="이름">
            <br><br>
            <input type="submit" name="submit" id="submit" value="회원가입">
            <input type="reset" name="reset" value="초기화">
        </form>
    </div>
<script>
    function checkf(){
        if(!idcheck){
            alert("아이디를 확인해주세요");
            sf.userid.focus();
            return false;
        }
        if(!pwcheck){
            alert("비밀번호를 확인해주세요");
            sf.checkpwd.focus();
            return false;
        }
        else if(sf.userid.value == ''){
            alert("빈 칸이 있습니다");
            sf.userid.focus();
            return false;
        }
        else if(sf.userpwd.value == ''){
            alert("빈 칸이 있습니다");
            sf.userpwd.focus();
            return false;
        }
        else if(sf.nickname.value == ''){
            alert("빈 칸이 있습니다");
            sf.nickname.focus();
            return false;
        }
        else if(sf.emailid.value == ''){
            alert("빈 칸이 있습니다");
            sf.emailid.focus();
            return false;
        }
        else if(sf.emailself.value == ''){
            alert("빈 칸이 있습니다");
            sf.emaildomain.focus();
            return false;
        }
        else if(sf.username.value == ''){
            alert("빈 칸이 있습니다");
            sf.username.focus();
            return false;
        }
    }
</script>
</body>

</html>