<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/board')-%>
    <%- include('../includes/nav')-%>
    <title>ㅎㄲㅎㄲ 게시판</title>
    <script type="text/javascript">
    window.onload = function() {
        document.getElementById('write').onclick = function() {
            location.href = '/board/write';
        }
    }
    </script>
    <style type="text/css">
      .clear-fix{
        height: 100px;
      }
    </style>
</head>

<body>
    <!-- Navigation -->
    <%- include('../navbar/nav_main', {user:user})%>
    <div class="clear-fix"></div>
    <div class="container">
        <h3>전체글보기</h3><br>
        <table class="table table-hover">
            <colgroup>
                <col width="80px">
                <col width="*">
                <col width="120px">
                <col width="80px">
                <col width="80px">
            </colgroup>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <%
                for (var i=page_cnt;i<(page*cnt);i++){
                    if (i>len) {
                        i++;
                    } else{ 
                        let q = query[i];
                        %>
                <tr>
                    <td>
                        <%= q.board_id%>
                    </td>
                    <td>
                        <a href="/board/<%= q.board_id-%>">
                            <%= q.subject%></a>
                    </td>
                    <td>
                        <%= q.user_nickname%>
                    </td>
                    <td>
                        <%= q.date%>
                    </td>
                    <td>
                        <%= q.hit%>
                    </td>
                </tr>
                <% }}%>
            </tbody>
        </table>
        <form method="get" action="" enctype="multipart/form-data" class="float-left" novalidate>
            <select name="searchType">
                <option value="subject"> 제목 </option>
                <option value="name"> 작성자 </option>
            </select> 
            <input type="text" id="searchText" name="searchText"> <button type="submit" class="btn">검색</button>
        </form>
        <ul class="pagination justify-content-center" style="margin:20px 0">
            <%
                if (page < 11) { %>

                    <li class="page-item disabled"><a class="page-link" href="">이전</a></li>
            <%
                } else {
                    %>
                    <li class="page-item"><a class="page-link" href="/board_main/<%= (page_group*10)-10%>">이전</a></li>
              <%
                }
            %>
            <%
                for (var k = 1; k <((len/cnt)/5)+1; k++) {
                for(var j=0;j < len/cnt;j++){
                    if (j > cnt*k) {
                        j++;
                    } else {
            %>
            <li class="page-item"><a class="page-link" href="/board_main/<%=j+1%>"><%=j+1%></a></li>
            <%
                    }
                }
            }
            %>
            <li class="page-item"><a class="page-link" href="/board_main/<%=(page_group+1)*10%>">다음</a></li>
        </ul>
        <div class="text-right">
            <button type="button" class="btn btn-warning" id="write">글쓰기</button>
        </div>
    </div>
</body>

</html>