<%gnum=Math.ceil(cpage/10)%>
<%if(gnum>1){%>
<a class="nextgroup" href="/board/pagegroup=<%=gnum-2%>">< 이전</a>
<%}if(pages<=gnum*10){%>
<%for(var i = (gnum-1)*10+1; i <= pages; i++){%>
<a class="pagebtns" href="/board/page=<%=i%>"><%= i%></a>
<%}}else{%>
<%for(var i = (gnum-1)*10 + 1; i <= (gnum-1)*10 + 10; i++){%>
<a class="pagebtns" href="/board/page=<%=i%>"><%= i%></a>
<%}%>
<a class="nextgroup" href="/board/pagegroup=<%=gnum%>">다음 ></a>
<%}%>