<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/_head')-%>
    <title>글 보기</title>
    <script type="text/javascript">
    window.onload = function() {
        document.getElementById('board').onclick = function() {
            location.href = '/board';
        }
    }
    function mod() {
        location.href = '/modify/<%= article.board_id %>';
    }
    function del() {
        location.href = '/board/<%= article.board_id %>/delete';
    }
    </script>
    <style type="text/css">
      .clear-fix{
        height: 100px;
      }
    </style>
</head>

<body>
    <!-- Navigation -->
    <%- include('../navbar/nav_main', {user:user})%>
    <div class="clear-fix"></div>
    <div class="container">
        <h3>글 보기</h3><br>
        <div class="tabe-responsive">
            <table class="table">
                <colgroup>
                    <col width="*">
                    <col width="150px">
                </colgroup>
                <tbody>
                    <tr>
                        <td><strong>
                                <%= article.subject%></strong></td>
                        <td>
                            <%= article.date%>
                        </td>
                    </tr>
                    <tr>
                        <td><%= article.user_nickname%>(<%= article.id%>)</td>
                        <td><%= article.hit%></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- article.contents%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-danger" onclick="del();">삭제</button>
            <button type="button" class="btn" onclick="mod();">수정</button>
            <button type="button" class="btn btn-warning" id="board">목록</button>
        </div>
    </div>
</body>

</html>