<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/board')-%>
    <%- include('../includes/nav')-%>
    <title>글 보기</title>
    <script type="text/javascript">
    window.onload = function() {
        document.getElementById('board').onclick = function() {
            location.href = '/board';
        }
    }
    </script>
    <style type="text/css">
    .clear-fix {
        height: 100px;
    }
    </style>
</head>

<body>
    <!-- Navigation -->
    <%- include('../navbar/nav_main', {user:user})%>
    <div class="clear-fix"></div>
    <div class="container">
        <h3>글 보기</h3><br>
        <div class="tabe-responsive">
            <table class="table">
                <colgroup>
                    <col width="*">
                    <col width="150px">
                </colgroup>
                <tbody>
                    <tr>
                        <td>
                            <strong>
                                <%= article.subject%></strong>
                        </td>
                        <td>
                            <%= article.date%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= article.user_nickname%>(
                            <%= article.id%>)</td>
                        <td>
                            <%= article.hit%>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <% if(id == article.id){-%>
                            <div class="text-right">
                                <a href="/modify/<%= article.board_id %>">수정</a>
                                |
                                <a href="/board/<%= article.board_id %>/delete">삭제</a>
                            </div>
                            <% }-%>
                            <%- article.contents%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-warning" id="board">목록</button>
        </div>
        <!--댓글 부분-->
        <!--ajax로 그때그때 댓글 불러올 수 있고록 함-->
        <div>
            <div class="comments">
                <h6>Comments (2)</h6>
                <hr>
                <div class="comment">
                    <div class="top">
                        <b>갑사</b>
                        (2018-01-29,
                        06:00:48)
                    </div>
                    <div class="body">그러게요.</div>
                </div>
                <div class="comment">
                    <div class="top">
                        <b>갑사</b>
                        (2018-01-29,
                        06:01:01)
                    </div>
                    <div class="body">Test.</div>
                </div>
                <br>
                <div class="input-group mb-3 col-md-20">
                    <textarea class="form-control" placeholder="타인에게 악의적인 댓글은 삼가주세요!'ㅅ'" aria-label="Recipient's username" aria-describedby="button-addon2"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">입력</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>